<div class="header_wrapper">
    <div class="header_band">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="svg" src="../../../../assets/images/logos/logos-ge.svg?crc=4272186535" width="299"
                        height="46" alt="" data-mu-svgfallback="../../../assets/images/logos-ge_poster_.png?crc=3894746903" />
                </div>
                <div class="col-6 right">
                    <p class="right"></p>
                </div>
            </div>
         
        </div>       
    </div>
</div>